@import '_reset.scss';
@import 'style.scss';

h1 {
    font-size: 1.8em;
}

div {
    img {
        height: 250px;
        width: auto;
        display: block;
        position: relative;
    }
}

#ctnprog {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.programme-item {
    align-items: center;
    border-radius: 10px;
    position: relative;

    img{
        display: block;
        border-radius: 10px;
    }

    h3, p {
        position:absolute;
        border:#32BFE0 solid 1px;
        background-color: #32BFE0;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        font-size:1em;
        font-weight: bold;
    }
    h3{
        top:-5%;
    }
    h3+p{
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
    p+p{
        top: 2%;
        right: 11%;
        transform: translate(-50%, -50%);
    }
}