@import "reset.scss";
@import "_mixin.scss";


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
}

h1 {
  background-color: pink;
  font-size: 5em;
}

header {
  display: flex;
  flex-wrap: wrap;
  @include grille($nbcolonne, $largeurgoutiere, 12, 0);
  background-color: pink;

  img {
    @include grille($nbcolonne, $largeurgoutiere, 8, 0);
  }

  nav {
    @include grille($nbcolonne, $largeurgoutiere, 4, 0);
    background-color: pink;
    justify-content: end;
  }
}

footer {
  @include grille($nbcolonne, $largeurgoutiere, 12, 0);
  background-color: powderblue;
  text-align: center;

  nav {
    @include grille($nbcolonne, $largeurgoutiere, 6, 0);
  }
}
